{% extends 'layouts/base.html' %}

{% block title %}Звіт про авторизацію{% endblock title %}

{% block caption %}Звіт про авторизацію{% endblock caption %}

{% block content %}
{% load static %}
    <div class="container" 
        style="text-align: center; margin: 45px 0px" href="https://images.app.goo.gl/tDTyJJMAxP99dyns6">
        <h3 style="color: navy; text-align: center;">Звіт про авторизацію</h3>
        <h4 style="color: slateblue; text-align: center; font-size: large;">
            {{ mess }}
        </h4>
            <div style="width:50%;height:0;padding-bottom:65%;position:center;"><iframe src="https://giphy.com/embed/H5mx6uIAAiaru" width="50%" height="50%" style="position:absolute" frameBorder="0" class="giphy-embed" allowfullscreen></iframe></div><p><a href="https://giphy.com/gifs/romy-cat-working-check-out-line-H5mx6uIAAiaru">via GIPHY</a></p>
    </div>
{% endblock content %}